@font-face {
  font-family: 'AuthenticSans';
  src: url('/assets/fonts/Authentic_Sans/AUTHENTIC-Sans.woff2') format('woff2'),
    url('/assets/fonts/Authentic_Sans/AUTHENTIC-Sans.woff') format('woff'),
    url('/assets/fonts/Authentic_Sans/AUTHENTIC-Sans.otf') format('opentype');
}

.authentic-sans {
  font-family: AuthenticSans, sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0px;
  margin-bottom: 1rem;
  font-size: 1rem;
}

section {
  padding-bottom: 2rem;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.link.underline:hover {
  text-decoration: none;
}

.link:hover img {
  opacity: 0.9;
}

.more {
  display: none;
}
